<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>商品一覧</h1>
</div>
<div class="container">
  <div class="row">
    <%= paginate @posts %>
  </div>
  <% @posts.each do |post| %>
    <div class="row col-sm-6">
      <div class="img-box">
        <% if post.pictures.empty? %>
          <%= image_tag '/no_image.jpg', :size => '300x300' %><img src="/no_image.png">
        <% else %>
          <ul>
            <% post.pictures.first(1).each do |pic| %>
              <div id="picture_<%= pic.id %>">
                <%= image_tag(pic.image.url(:thumb)) %>
              </div>
            <% end %>
          </ul>
        <% end %>
        <h2><%= link_to post.name, post_path(post) %></h2>
        <h2><%= post.price %>円</h2>
        <h2><%= post.body %></h2>
        <% if post.stock == 0 %>
          <h2 style="color: gray;">在庫なし</h2>
        <% elsif post.stock < 10 %>
          <h2 style="color: red;">在庫<%= post.stock %>個</h2>
        <% else post.stock >= 10 %>
          <h2 style="color: blue;">在庫あり</h2>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <%= paginate @posts %>
  </div>
</div>