<p id="notice"><%= notice %></p>
<div class="page-header">
  <h1>商品詳細</h1>
</div>
<div class="container">
  <% if @post.pictures.empty? %>
    <div class="row img-box">
      <%= image_tag 'https://s3-ap-northeast-1.amazonaws.com/websuku-osada-201709/no_image.jpg', :size => '500x500' %>
    </div>
  <% else %>
    <ul class="row">
      <% @post.pictures.each_with_index do |pic, index| %>
        <% if index == 0 && index == @post.pictures.size - 1 %>
          <div class="col-sm-6 col-sm-offset-3 img-box">
            <li id="picture_<%= pic.id %>">
              <%= image_tag(pic.image.url(:medium), :class => "img-responsive")%>
            </li>
          </div>
        <% else %>
          <div class="col-sm-6 img-box">
            <li id="picture_<%= pic.id %>">
              <%= image_tag(pic.image.url(:medium), :class => "img-responsive")%>
            </li>
          </div>
        <% end %>
      <% end %>
    </ul>
  <% end %>

  <div class="row">
    <h2>商品名</h2>
    <p><%= @post.name %></p>

    <h2>価格</h2>
    <p><%= @post.price %>円</p>
   
    <h2>商品説明</h2>
    <p><%= @post.body %></p>
    <% if @post.stock.to_i == 0 %>
      <h2 style="color: gray;">在庫なし</h2>
    <% elsif @post.stock.to_i < 10 %>
      <h2 style="color: red;">在庫<%= @post.stock.to_i %>個</h2>
    <% else %>
      <h2 style="color: blue;">在庫あり</h2>
    <% end %>
    <% if @post.stock.to_i > 0 %>
      <% if consumer_signed_in? %>
        <% if @post.ordered_by? current_consumer %>
          <%= link_to "カートから削除する", post_order_posts_path(@post), method: :delete, class: "button" %>
        <% else %>
          <%= link_to "この商品をカートに入れる", post_order_posts_path(@post), method: :post, class: "button" %>
        <% end %>
      <% elsif user_signed_in? %>
      <% else %>
        <%= link_to "注文には会員登録が必要です", new_consumer_registration_path, class: "button" %>
      <% end %>
    <% else %>
      <p>注文できません</p>
    <% end %>
  </div>

  <div class="row">
    <% if user_signed_in? %>
  	  <% if current_user.id == @post.user.id %>
    		<%= link_to '編集', edit_post_path(@post) %> |
    		<%= link_to '削除', @post, method: :delete, data: {
    		confirm: '本当に削除しますか？' } %> 
      <% end %>
    <% end %>
  </div>
</div>